/* general styles*/

.btn-radial{
    border-radius: 20px;
}
.btn-fixed{
    width: 100px !important;
}
.half-bordered{
    border-radius: 10px 10px 0px 0px;
    -moz-box-shadow:    1px 1px 2px 1px #ccc;
    -webkit-box-shadow: 1px 1px 2px 1px #ccc;
    box-shadow:         1px 1px 2px 1px #ccc;
}
.mar-left-50{
    margin-left: 50px;
}
.mar-right-30{
    margin-right: 30px;
}
.mar-0{
    margin: 0 !important;
}
.mar-top-5{
    margin-top: 5px;
}
.mar-top-10{
    margin-top : 10px;
}
.mar-top-20{
    margin-top : 20px;
}
.mar-top-30{
    margin-top : 30px;
}
.mar-top-50{
    margin-top : 50px;
}
.mar-bot-10{
    margin-bottom : 10px;
}
.mar-bot-20{
    margin-bottom : 20px;
}
.mar-bot-50{
    margin-bottom : 50px;
}
.pad-left-20{
    padding-left: 20px;
}
.pad-left-0{
    padding-left: 0px;
}
.pad-0{
    padding: 0 !important;
}
.pad-10{
    padding: 10px;
}
.pad-left-right-0{
    padding-left: 0px;
    padding-right: 0px;
}
.pad-20{
    padding: 20px;
}
.pad-top-10{
    padding-top : 10px;
}
.pad-top-15{
    padding-top : 15px;
}
.pad-top-20{
    padding-top : 20px;
}
.pad-top-40{
    padding-top: 40px;
}
.pad-top-50{
    padding-top : 50px;
}
.pad-bot-10{
    padding-bottom : 10px;
}
.pad-bot-20{
    padding-bottom : 20px;
}
.pad-bot-50{
    padding-bottom : 50px;
}
.btn.focus, .btn:focus, .btn:hover{
    color: #fff;
}

.horizontal-line{
    border-bottom: 1px solid #bbb;
}
.btn-transparent{
    border: none;
    color: #fff;
    background-color: transparent;
}
.btn-fraglo-order{
    font-size: .75rem;
    border: 1px solid #6A00FF;
    color: #6A00FF;
    margin-top: 2rem;
    width: 100%;
}
.btn-fraglo-order:hover,.btn-fraglo-order:active,.btn-fraglo-order:focus{
    border: 1px solid #6A00FF;
    background-color: #6A00FF !important;
    color: #fff !important;
}
.btn-fraglo{
    font-size: .75rem;
    border: 1px solid #6A00FF;
    color: #6A00FF;
}
.btn-fraglo:hover,.btn-fraglo:active,.btn-fraglo:focus{
    border: 1px solid #6A00FF;
    background-color: #6A00FF !important;
    color: #fff;
}
.btn-takeaway{
    margin-top: 4rem;
    margin-left: -6rem;
}

/*general styles end*/
/*Frago Style starts*/
html,body {
  height: 100%;background-color: #fff;
}
header{
    height: 80px;
    background-color: #fff;
}
#header{
    position: relative;
    height: 80px;
}
.locator-bar{
    height: 40px;
    color: #6A00FF;
}

.navbar-fraglo{
    height: 40px;
    background-color: #6A00FF;
    color: #fff;
}
.locator-bar .nav-link{
    color: #6A00FF !important;
}

.navbar-fraglo .nav-link {
    color: #fff !important;
}
.navbar-fraglo .nav-item{
    width:120px;text-align: center;
}

.locator-bar-inner{
    width: 100%;
}
.upper-header{
    background-color: #FFD900;
}
.lower-header{
    background-color: #6A00FF;
}
.nav-item.active{
    border-bottom: 3px solid #fff;
}
.fraglo-logo{
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    display: inline-block;
    left: 50%;
    margin-left: -50px;
    z-index: 100;
    border: 5px solid #6A00FF;
    border-radius: 50px;
}
.search-header{
    position: absolute;
    right: 1.4rem;
    top: .6rem;
    color: #6A00FF;
}
.offer-image{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/offer-violet.svg")no-repeat center center;
    background-size: contain;
    margin-top: 5px;
}
.offer-image:hover{
    background: url("../images/offer.svg")no-repeat center center;
}
.offer-percentage{
    position: absolute;
    left: 20px;
    font-size: 12px;
    top: 10px;
    color: #fff;
}
.offer-text{
    position: absolute;
    top: 9px;
}
.toggle-pad{
    padding-top: 8px;
}
.offer-pad{
    padding-top: 5px;
}
.offer-pad .nav-link{
    font-size: 14px;
    padding: 0 !important;
    display: inline-block;
}
.offer-pad .nav-link:hover{
    color: red !important;
}
.vertical-line-header {
    border-right: 1px solid #6A00FF;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}
.vertical-line-card {
    border-right: 1px solid #6A00FF;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}
.dropdown-toggle::after{
    border: none;
}
.dropdown-menu{
    right: 0rem;
    width: 16rem;
    padding: 0;
    left: auto;
}
.order-slip{
    color: #222;
    font-size: .75rem;
    padding: 10px 0px 0px;
}
.curr-bal{
    position: absolute;
    top: 1rem;
    left: 3rem;
    color: #fff;
}
.btn-card{
    position: absolute;
    top: 5rem;
    right: 2rem;
}
.btn-full{
    width: 100% !important;
    background-color: #fff;
    text-align: left;
}
/*==================== 
	Footer 
====================== */

/* Main Footer */
#footer{
    position: relative;width: 100%;color: #fff;
}
footer .main-footer{	padding: 10px 0 10px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;}
footer ul a,footer ul a:active,footer ul a:link{color:#000;font-weight: bold;}
/* Copy Right Footer */
.footer-copyright{background: #252525;font-size: .6em; padding-top: 10px;}
.footer-copyright p {	color: #969696;	margin: 10px 0 0;}
ul.social-footer2{display: inline-block;}
ul.social-footer2 li {width:25px;display: inline-block;margin-right: 5px;}
.widget{
    font-size: 12px;
}
.copy-right{
    color: #FFD900;
}
.horizontal-line-footer{
    border-top: 1px solid #aaa;
}
#nav-cart{
    position: relative;
    left: 32rem;
}
/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/*carousel*/
.control-icon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #6A00FF;
    padding: 10px;
}
/*Body header*/
.body-header{
    height: 100px;
    background: #aaa;
    color: #fff;
    padding: 12px 0;
    position: relative;
}
.body-header h1{
    font-size: 3rem;
    line-height: 1.5em;
}
.site-header{
    color: #6A00FF;
}

/*Login*/
.fraglo-login-container{
    width: 100%;
    min-height: 320px;
}
.login-container{
    margin: 0 auto;
    border-radius: 5px;
    overflow-x: hidden;
}
.middle-panel{
    background-color: #efefef;
    font-size: .85rem;
}
.login-container label.login-label{
    line-height: 1em;
    font-weight: normal;
    text-align: left !important;
    font-weight: 500;
    color: #aaa;
}
.required{
    color: #db3236;
}
.login-proceed{
    background-color: #aaa;
    width: 100%;
    border-radius: 20px;
    color: #000;
    font-weight: 500;
}
.login-medium{
    width: 40px;
    border-radius: 20px;
    color: #fff;
}
.login-facebook{
    background-color: #3b5998;
}
.login-google{
    background-color: #db3236;
}
.login-text{
    color: #6A00FF;
}
.login-dropdown .btn-link{
    font-size: 12px;
}
.login-dropdown .btn-link:hover{
    color: #6A00FF;
}
.custom-input{
    border-bottom: 1px solid #ced4da !important;
    border: none;
    border-radius:0;
    padding: .375rem 0rem;
}
.form-container p a{
    font-weight: 500;
    color: #000;
}
/*varification*/

.otp-inp {
    width: 18%;
    display: inline-block;
    margin-right:5%;
    border: none;
    border-radius:0;
    border-bottom:1px solid #6A00FF !important;
    text-align: center;
}
.resend-otp-link,.resend-otp-link:hover,.resend-otp-link:active{
    color: #6A00FF;
}

.site-body{
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 5px;
}
.cart-card{
    padding: 0px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 0px;
}
.vendor-name{
    color: #6A00FF;
}
.vendor-name img{
    width: 15px;
}
.vendor-name .btn-floating{
    background-color: #fff;
    color: #6A00FF;
    padding: 8px 4px;
}
.vendor-name .item-amount{
    border: none;
    width: 1.5rem;
    text-align: center;
    color: #6A00FF;
}
.card.card-fraglo,.card.profile-details{
    border: none;
}
.card-fraglo .card-header{
    border: none;
    color: #6A00FF;
}
.card.profile-details .card-header{
    border: none;
    color: #6A00FF;
}
.card.profile-details .card-body{
    border: none;
    color: #222;
    font-size: .85rem;
    padding: 0;
}
.card.login-details .card-header {
    border: none;
    color: #6A00FF;
}
.card.login-details .card-body{
    border: none;
    color: #222;
    font-size: .85rem;
}
.profile-text .list-group-item{
    border: none;
}
.phone-number-container{
    color:  #6A00FF;
    font-size: .75rem;
    padding: 10px 20px;
    border-bottom: 1px solid #6A00FF;
}
.phone-number-container .phone-number{
    float: left;
    margin-top: 5px;
}
.table.table-borderless td,.table.table-borderless th{
    border: none;
}


/*Home style*/
.img-fluid{
    width: 100% \9;
}
.home-carousel{
    position: relative;
    color: #fff;
}
.absolute-container{
    position: absolute;
    bottom: 3em;
    left: 7em;
    width: calc(100% - 7em);
}
.carousel-item.active{
    display: flex !important;
}
.sub-bottom-panel,.shop{
     color: #6A00FF;
}
.check-us-text{
    display: inline;
    color: #6A00FF;
}
.controls-top{
    display: inline-block;
    float: right;
}
.controls-top a{
    color: #6A00FF;
    padding: 2px 4px;
    border: 2px solid #6A00FF;
    border-radius: 5px;
    font-size: 10px;
}
.card  a:hover{
    text-decoration: none;
}
.card figure {
    margin: 0 0 0rem;
    padding: 8px 0px 0px 8px;
}
.card .figure{
    display: inline-flex;
}
.card .figure-img{
    display: inline-block;
    width: 44%;
}
.card .figure-caption{
    display: inline-block;
    width: 54%;
    padding-left: 10px;
}
.card-pad{
    padding: 1rem 0rem;
    background: linear-gradient(to right, #FFD900 60%, #ff9933 100%);
    margin: 0; 
    border-radius: .25rem;
    min-height: 7.6rem;
}
.card-pad-taway{
    background: linear-gradient(to right, #fa9e42 65%,#ff9933  100%);
}
.card-pad.inactive{
    background: #ccc;
}
.inrest-image{
    background: url("../images/inrestaurant.png")no-repeat center center;
    background-size: contain;
}
.inrest-image:hover{
    background: url("../images/inrestaurant-white.png")no-repeat center center;
    background-size: contain;
}
.taway-image{
    background: url("../images/takeaway.png")no-repeat center center;
    background-size: contain;
}
.taway-image:hover{
    background: url("../images/takeaway-white.png")no-repeat center center;
    background-size: contain;
}
.vertical-line{
    border-right: 1px solid #6A00FF;
}
.vertical-line-left{
    border-left: 1px solid #6A00FF;
}
.modal-header{
    border-bottom:none;
    padding: 0.5rem 1rem 0 1rem;
}
.modal-footer{
    border-top:none;
    justify-content: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.vendor-card{
    background-color: #fff;
    margin: 0;
}
.vendor-card .vendor-description{
    font-size: .85rem;
}
.vendor-description{
    font-size: .75rem;
}
.vendor-card label{
    margin-bottom: .25rem;
    display: block;   
}
.filter-item{
    background-color: #ccc;
    text-align: center;
}
.filter-item.active{
    background-color: #6A00FF;
}
.filter-item.active a{
    color: #fff;
}
.filter-item a{
    color: #222;
}
.success-msg{
    color: #209b20;
}
.bg-prepare {
    background-color: #6A00FF!important;
}
.available{
    color: #6A00FF;
}
.item h6{
    color: #6A00FF;
}
label.address{
    color: #222;
    font-size: .75rem;
}
.revenue-card{
    margin: 0px 0px 20px 0px;
}
.profile-card.card{
    flex-direction: row;
    color: #222;
    margin: 10px 0px;
}
.small-text{
    font-size: .75rem;
}
.large-text{
    font-size: 1.25rem;
}
.label-type{
    color: #aaa;
}
.btn-how:hover{
    background-color: #6A00FF;
    color: #fff !important;
}
.btn-how.active{
    background-color: #6A00FF;
    color: #fff !important;
}


/* hack for mobile view  576px and tab view 992px*/
@media (max-width: 991px){
    .navbar-fraglo .navbar-collapse .nav-link{
        color: #6A00FF !important;
    }
    .navbar-fraglo .navbar-collapse .nav-item{
        width:100%;text-align: left;
    }
    .navbar-fraglo .navbar-collapse .btn-transparent{
        color: #6A00FF;
        padding-left: 0px;
    }
    .dropdown-menu {
        right: auto;
        left: 0;
        height: 200px;
        overflow: auto;
    }
    .navbar-toggler{
        margin-top: -8px;
        background-color: #fff;
        opacity: .95;
    }
    .navbar-nav.locator-bar-inner {
        margin-top: -8px;
        -webkit-box-orient: horizontal;
        flex-direction: row;
    }
    span.tollfree{
        font-size: .75rem;
    }
    span.location{
        display: none;
    }
    span.offer-text{
        display: none;
    }
    #nav-cart {
        position: static;
        left: 0rem;
    }
    .btn-fixed {
        width: 90px !important;
    }
    .navbar-collapse {
        background-color: #fff;
        opacity: .95;
        padding: 10px;
        border-bottom:1px solid #ccc;
    }
    .nav-item{
        line-height: 1;
    }
    .vertical-line.mobile{
        border-right: none;
    }
}
  
/*This is appilcation for only mobile(width:576px) and desktop(width:1200px)*/

@media (min-width: 992px) and (max-width:1199px){
    #nav-cart {
        left: 21rem;
    }
    .btn-fraglo-order {
        white-space: pre-wrap;
    }
}

@media (max-width:767px){
    .btn-takeaway{
        margin-top: 1rem;
        margin-left: auto;
    }
    .timepicker-picker{
        padding-left: 11rem;
    }
    .vertical-line-left.mobile{
        border-left: none;
    }
}

/*calendar*/
@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900');

.timepicker {
  max-width: 100px;
  border-radius: 0;
}
.bootstrap-datetimepicker-widget table td {
    height: 40px;
    line-height: 40px;
    width: 40px;
}
.bootstrap-datetimepicker-widget table td span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 4px;
}

/*For toggle input*/
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
  input.cmn-toggle-round + label {
    padding: 2px;
    width: 50px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 20px;
  }
  input.cmn-toggle-round + label:before,
  input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }
  input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 20px;
    transition: background 0.4s;
  }
  input.cmn-toggle-round + label:after {
    width: 20px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
  }
  input.cmn-toggle-round:checked + label:before {
    background-color: #6A00FF;
  }
  input.cmn-toggle-round:checked + label:after {
    margin-left: 30px;
  }

  /* for toggle button */
  a.toggler {
    background: #2a852a;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px 12px;
    border-radius: 20px;
    text-decoration: none;
    transition: all .5s ease;
    font-size: .75rem;
    color: #fff;
}

a.toggler.off {
    background: #dd382c;
}