/* general styles*/

.btn-radial{
    border-radius: 20px;
}
.btn-fixed{
    width: 100px !important;
}
.half-bordered{
    border-radius: 10px 10px 0px 0px;
    -moz-box-shadow:    1px 1px 2px 1px #ccc;
    -webkit-box-shadow: 1px 1px 2px 1px #ccc;
    box-shadow:         1px 1px 2px 1px #ccc;
}
.mar-left-50{
    margin-left: 50px;
}
.mar-right-30{
    margin-right: 30px;
}
.pad-left-20{
    padding-left: 20px;
}
.pad-left-0{
    padding-left: 0px;
}
.pad-0{
    padding: 0 !important;
}
.pad-10{
    padding: 10px;
}
.pad-left-right-0{
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
}
.mar-0{
    margin: 0 !important;
}
.mar-top-5{
    margin-top: 5px;
}
.mar-top-10{
    margin-top : 10px;
}
.mar-top-20{
    margin-top : 20px;
}
.mar-top-30{
    margin-top : 30px;
}
.mar-top-50{
    margin-top : 50px;
}
.mar-bot-10{
    margin-bottom : 10px;
}
.mar-bot-20{
    margin-bottom : 20px;
}
.mar-bot-50{
    margin-bottom : 50px;
}

.pad-20{
    padding: 20px;
}
.pad-top-10{
    padding-top : 10px;
}
.pad-top-20{
    padding-top : 20px;
}
.pad-top-50{
    padding-top : 50px;
}
.pad-bot-10{
    padding-bottom : 10px;
}
.pad-bot-20{
    padding-bottom : 20px;
}
.pad-bot-50{
    padding-bottom : 50px;
}
.btn.focus, .btn:focus, .btn:hover{
    color: #fff;
}

.horizontal-line{
    border-bottom: 1px solid #bbb;
}
.btn-transparent{
    border: none;
    color: #fff;
    background-color: transparent;
}
.btn-fraglo-order{
    font-size: .75rem;
    border: 1px solid #6A00FF;
    color: #6A00FF;
    margin-top: 2rem;
    min-width: 100%;
}
.btn-fraglo-order:hover,.btn-fraglo-order:active,.btn-fraglo-order:focus{
    border: 1px solid #6A00FF;
    background-color: #6A00FF !important;
    color: #fff;
}
.btn-fraglo{
    font-size: .75rem;
    border: 1px solid #6A00FF;
    color: #6A00FF;
}
.btn-fraglo:hover,.btn-fraglo:active,.btn-fraglo:focus{
    border: 1px solid #6A00FF;
    background-color: #6A00FF !important;
    color: #fff;
}

/*general styles end*/
/*Frago Style starts*/

/*.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
}*/
html,body {
  height: 100%;background-color: #fff;
}
header{
    height: 80px;
    background-color: #fff;
}
#header{
    position: relative;
    height: 80px;
}
.locator-bar{
    height: 40px;
    color: #6A00FF;
}

.navbar-fraglo{
    height: 40px;
    background-color: #6A00FF;
    color: #fff;
}
.locator-bar .nav-link{
    color: #6A00FF !important;
}
.navbar-fraglo .nav-link{
    color: #fff !important;
}
.navbar-fraglo .nav-item{
    width:120px;text-align: center;
}

.locator-bar-inner{
    width: 100%;
}
.upper-header{
    background-color: #FFD900;
}
.lower-header{
    background-color: #6A00FF;
}
.nav-item.active{
    border-bottom: 3px solid #fff;
}
.fraglo-logo{
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    display: inline-block;
    left: 50%;
    margin-left: -50px;
    z-index: 100;
    border: 5px solid #6A00FF;
    border-radius: 50px;
}
.search-header{
    position: absolute;
    right: 1.4rem;
    top: .5rem;
}
.offer-image{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/offer-violet.svg")no-repeat center center;
    background-size: contain;
    margin-top: 5px;
}
.offer-image:hover{
    background: url("../images/offer.svg")no-repeat center center;
}
.offer-percentage{
    position: absolute;
    left: 20px;
    font-size: 12px;
    top: 10px;
    color: #fff;
}
.offer-text{
    position: absolute;
    top: 9px;
}
.offer-pad{
    padding-top: 5px;
}
.offer-pad .nav-link{
    font-size: 14px;
    padding: 0 !important;
    display: inline-block;
}
.offer-pad .nav-link:hover{
    color: red !important;
}
.vertical-line-header {
    border-right: 1px solid #6A00FF;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}
.vertical-line-card {
    border-right: 1px solid #6A00FF;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}
.dropdown-toggle::after{
    border: none;
}
.dropdown-menu{
    right: 0rem;
    width: 16rem;
    padding: 0;
    left: auto;
}
.order-slip{
    color: #222;
    font-size: .75rem;
    padding: 10px 0px 0px;
}
.curr-bal{
    position: absolute;
    top: 1rem;
    left: 3rem;
    color: #fff;
}
.btn-card{
    position: absolute;
    top: 5rem;
    right: 2rem;
}
.btn-full{
    width: 100% !important;
    background-color: #fff;
    text-align: left;
}
/*==================== 
	Footer 
====================== */

/* Main Footer */
#footer{
    position: relative;width: 100%;color: #fff;
}
footer .main-footer{	padding: 20px 0 10px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;margin-left: -14px;}
footer ul a,footer ul a:active,footer ul a:link{color:#000;font-weight: bold;}
/* Copy Right Footer */
.footer-copyright{background: #252525;font-size: .6em; padding-top: 10px;}
.footer-copyright p {	color: #969696;	margin: 10px 0 0;}
ul.social-footer2{display: inline-block;}
ul.social-footer2 li {width:25px;display: inline-block;margin-right: 5px;}
.widget{
    font-size: 12px;
}
.copy-right{
    color: #FFD900;
}
.horizontal-line-footer{
    border-top: 1px solid #aaa;
}
#nav-cart{
    position: relative;
    left: 32rem;
}
/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/*carousel*/
.control-icon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #6A00FF;
    padding: 10px;
}
/*Body header*/
.body-header{
    height: 100px;
    background: #aaa;
    color: #fff;
    padding: 12px 0;
    position: relative;
}
.body-header h1{
    font-size: 3rem;
    line-height: 1.5em;
}
.site-header{
    color: #6A00FF;
}

/*Login*/
.fraglo-login-container{
    width: 100%;
    min-height: 320px;
}
.login-container{
    margin: 0 auto;
    border-radius: 5px;
    overflow-x: hidden;
}
.middle-panel{
    background-color: #efefef;
    font-size: .85rem;
}
.login-container label.login-label{
    line-height: 1em;
    font-weight: normal;
    text-align: left !important;
    font-weight: 500;
    color: #aaa;
}
.required{
    color: #db3236;
}
.login-proceed{
    background-color: #aaa;
    width: 100%;
    border-radius: 20px;
    color: #000;
    font-weight: 500;
}
.login-medium{
    width: 40px;
    border-radius: 20px;
    color: #fff;
}
.login-facebook{
    background-color: #3b5998;
}
.login-google{
    background-color: #db3236;
}
.login-text{
    color: #6A00FF;
}
.login-dropdown .btn-link{
    font-size: 12px;
}
.login-dropdown .btn-link:hover{
    color: #6A00FF;
}
.custom-input{
    border-bottom: 1px solid #ced4da !important;
    border: none;
    border-radius:0;
    padding: .375rem 0rem;
}
.custom-select{
    border-radius: 20px;
}
.form-container p a{
    font-weight: 500;
    color: #000;
}

/*varification*/

.otp-inp {
    width: 19%;
    display: inline-block;
    margin-right:5%;
    border: none;
    border-radius:0;
    border-bottom:1px solid #ced4da !important;
    text-align: center;
}
.custom-block{
    background-color: #ccc;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}
.mobile-icon{
    font-size: 6rem;
    margin-top: .28rem;
}
.email-icon {
    font-size: 4rem;
    margin-top: 1rem;
}
.mobile-text{
    padding-top: 1rem;
}
.user-image{
    height:40px;
    width: 40px;
    border-radius: 20px;
    padding: 2px;
    border: 1px solid #bbb;
    display: inline-block;
    margin-left:20px;
}
.btn-edit{
    position: absolute;
    right: 16px;
    top: 1px;
    background-color: transparent;
    font-size:x-large;
}
.btn-edit:hover{
    background-color: transparent;
    color: #000;
    border-color: transparent;
}
.top-border{
    border-top:1px solid #ced4da;
    padding-top: 10px;
}
.right-border{
    border-right:1px solid #ced4da;
    padding-right: 10px;
}
.site-body{
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 5px;
}
.cart-card{
    padding: 0px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 0px;
}
.vendor-name{
    color: #6A00FF;
}
.vendor-name img{
    width: 15px;
}
.vendor-name .btn-floating{
    background-color: #fff;
    color: #6A00FF;
    padding: 8px;
}
.vendor-name .item-amount{
    border: none;
    width: 2rem;
    text-align: center;
    color: #6A00FF;
}
.card.bill-details,.card.profile-details{
    border: none;
}
.bill-details .card-header{
    border: none;
    color: #6A00FF;
}
.card.profile-details .card-header{
    border: none;
    color: #6A00FF;
}
.card.profile-details .card-body{
    border: none;
    color: #222;
    font-size: .85rem;
    padding: 0;
}
.card.login-details .card-header {
    border: none;
    color: #6A00FF;
}
.card.login-details .card-body{
    border: none;
    color: #222;
    font-size: .85rem;
}
.profile-text .list-group-item{
    border: none;
}
.phone-number-container{
    color:  #6A00FF;
    font-size: .75rem;
    padding: 10px 20px;
    border-bottom: 1px solid #6A00FF;
}
.phone-number-container .phone-number{
    float: left;
    margin-top: 5px;
}
.table.table-borderless td,.table.table-borderless th{
    border: none;
}


/*Home style*/
.img-fluid{
    width: 100% \9;
}
.home-carousel{
    position: relative;
    color: #fff;
}
.absolute-container{
    position: absolute;
    bottom: 3em;
    left: 7em;
    width: calc(100% - 7em);
}
ul.social-icons{margin-left: -40px;}
ul.social-icons li {width:115px;display: inline-block;}
@media (max-width: 992px){
    .navbar-collapse {
        background-color: #fff;
        opacity: .95;
        padding: 10px;
    }
    .nav-item{
        line-height: 1;
    }
    
}
@media (max-width: 576px){
    .absolute-container {
        bottom: 0rem;
    }
}
.carousel-item.active{
    display: flex !important;
}
.sub-bottom-panel,.shop{
     color: #6A00FF;
}
.check-us-text{
    display: inline;
    color: #6A00FF;
}
.controls-top{
    display: inline-block;
    float: right;
}
.controls-top a{
    color: #6A00FF;
    padding: 2px 4px;
    border: 2px solid #6A00FF;
    border-radius: 5px;
    font-size: 10px;
}
.card  a:hover{
    text-decoration: none;
}
.card figure {
    margin: 0 0 0rem;
    padding: 8px 0px 0px 8px;
}
.card .figure{
    display: inline-flex;
}
.card .figure-img{
    display: inline-block;
    width: 44%;
}
.card .figure-caption{
    display: inline-block;
    width: 54%;
    padding-left: 10px;
}
.order-banner .figure-img{
    display: inline-block;
    width: 30%;
}
.order-banner .figure-caption{
    display: inline-block;
    width: 68%;
    padding-left: 10px;
}
.card-pad{
    padding: 1rem 0rem;
    background: linear-gradient(to right, #FFD900 60%, #ff9933 100%);
    margin: 0; 
    border-radius: .25rem;
    min-height: 7.6rem;
}
.card-pad-taway{
    background: linear-gradient(to right, #fa9e42 65%,#ff9933  100%);
}
.inrest-image{
    background: url("../images/inrestaurant.png")no-repeat center center;
    background-size: contain;
}
.inrest-image:hover{
    background: url("../images/inrestaurant-white.png")no-repeat center center;
    background-size: contain;
}
.taway-image{
    background: url("../images/takeaway.png")no-repeat center center;
    background-size: contain;
}
.taway-image:hover{
    background: url("../images/takeaway-white.png")no-repeat center center;
    background-size: contain;
}
.vertical-line{
    border-right: 1px solid #6A00FF;
}
.nav-pills .nav-link{
    color: #000;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    font-weight: bold;
    background-color: transparent;
}
.founder-text{
    font-size: 30px;
}
.quote-container{
    background: url(../images/quote.png) top center no-repeat;
    padding-top: 35px;
}
.sub-bottom-panel-2{
    background: url(../images/nailbar.jpg) top center no-repeat;
    background-color: darkgreen;
    padding-top: 35px;
    color: #fff;
}
.calendar-date{
    min-height: 120px;
    background-color: #ccc;
}
.calendar-time{
    min-height: 100px;
    background-color: #fff;
}
.btn-reserve{
    width: auto;
    padding: 6px 20px;
    margin-top: 40%;
}
@media (max-width: 576px){
    .btn-reserve{
        width: 100%;
        margin-top: 0%;
    }
}
.modal-header{
    border-bottom:none;
    padding: 0.5rem 1rem 0 1rem;
}
.modal-footer{
    border-top:none;
    justify-content: center;
}
.btn-date{
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    margin: 5px;
}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }
  
  ol.orderlist > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }
  
  ol.orderlist > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
  }
  
  li ol.orderlist > li {
    margin: 0;
  }
  
  li ol.orderlist > li:before {
    content: counters(item, ".") " ";
  }

  .inner-text{
      display: inline-block;
      margin-right: 10px;
  }
  .class-left{
      color: #aaa;
  }
  .hr-border{
      border-bottom: 1px solid #ccc;
  }
  .upcoming-ride{
    background: url(../images/cyclist.jpg) center no-repeat;
    width: 100%;
    height: 80%;
    min-height: 250px;
    border-radius: 10px;
    color: #fff;
    padding:20px;
  }
  .badge-secondary {
    background-color: #ccc;
    border-radius: 12px;
    color: #000;
    padding: 6px 12px;
}
.records-number{
    color: #ccc;
    font-size: 8em;
    font-weight: 700;
}
.records-text{
    position: absolute;
    top: 60%;
    left: 25%;
    font-size: 2em;
    line-height: 1em;
    font-weight: 600;
}
.modal-select{
    width: 70%;
}
.shoe-size{
    cursor: pointer;
}
.margin-zero{
    margin: 0rem;
}