<footer id="footer" class="light">
	<div class="main-footer widgets-dark typo-light">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6">
					<h6 class="widget-title">
						CONTACT INFORMATION<span></span>
					</h6>
					<div class="widget no-box row">
						<div class="col-6 col-sm-4"><i class="fas fa-map-pin"></i> ADDRESS <br/> Bangalore, 560037</div>
						<div class="col-6 col-sm-4"><i class="fas fa-phone-alt"></i> TOLL FREE NUMBER <br/> 1800 365 3336</div>
						<div class="col-6 col-sm-4"><i class="fas fa-envelope-open"></i> EMAIL <br/> info@mediaadvisor.com</div>
					</div>
				</div>

				<div class="col-12 col-sm-3">
					<div class="widget no-box row">
						<h6 class="widget-title">
							WE ACCEPT PAYMENT<span></span>
						</h6>
						<div class="col-12">
							<ul class="social-footer3">
								<li class=""><a href="#."
									target="_blank" title="cards"><img alt="cards"
										 height="35"
										src="images/visa.png"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-3">
					<div class="widget no-box row">
						<h6 class="widget-title">
							DOWNLOAD APP<span></span>
						</h6>
						<div class="col-12">
							<ul class="social-footer3">
								<li class=""><a href="#."
									target="_blank" title="Google Store"><img alt="googlestore"
										 height="35"
										src="images/google.png"></a></li>
							</ul>
						</div>
					</div>
				</div>
				

			</div>
		</div>
	</div>

	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class=" horizontal-line-footer"></div>
					<div class="widget no-box row">
						<div class="col-12 col-sm-6">
							<p><i class="far fa-copyright"></i><span class="copy-right"> Fraglo.com</span>.2020. All rights reserved.</p></span>
						</div>
						
						<div class="col-12 col-sm-6 text-right mar-top-10">
							<ul class="social-footer2">
								<li><a href="https://www.facebook.com/"
									target="_blank" title="Facebook"><img alt="Facebook"
										width="25" height="25"
										src="images/facebook-icon.png"></a></li>
								<li><a href="https://youtube.com" target="_blank"
									title="youtube"><img alt="youtube" width="25" height="25"
										src="images/youtube-icon.png"></a></li>
								<li><a href="https://googleplus.com" target="_blank"
									title="googleplus"><img alt="googleplus" width="25" height="25"
										src="images/googleplus-icon.png"></a></li>
								<li><a title="instagram" target="_blank"
									href="https://www.instagram.com/"><img alt="instagram"
										width="25" height="25"
										src="images/insta-icon.png"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>