<footer id="footer" class="light">
	<div class="main-footer widgets-dark typo-light">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="widget no-box">
						<!--<h5 class="widget-title">
							Quick Links<span></span>
						</h5>-->
						<ul class="thumbnail-widget">
							<li>
								<div class="thumb-content">
									<a href="#.">Account</a>
								</div>
							</li>
							<li>
								<div class="thumb-content">
									<a href="#.">Careers</a>
								</div>
							</li>
							<li>
								<div class="thumb-content">
									<a href="privacypolicy.html">Privacy Policy</a>
								</div>
							</li>
							<li>
								<div class="thumb-content">
									<a href="termsandconditions.html">Terms & Conditions</a>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="widget no-box">
						<h5 class="widget-title">
							Contacts<span></span>
						</h5>
						<p>support@chakraapp.com</p>
						<p>+91 9284718471</p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="widget no-box">
						<h3 class="widget-title follow-text">
							Follow Us<span></span>
						</h3>
						<ul class="social-footer2">
							<li class=""><a href="https://www.facebook.com/"
								target="_blank" title="Facebook"><img alt="Facebook"
									width="25" height="25"
									src="images/facebook-icon.png"></a></li>
							<li class=""><a href="https://twitter.com" target="_blank"
								title="Twitter"><img alt="Twitter" width="25" height="25"
									src="images/twitter-icon.png"></a></li>
							<li class=""><a title="instagram" target="_blank"
								href="https://www.instagram.com/"><img alt="instagram"
									width="25" height="25"
									src="images/insta-icon.png"></a></li>
						</ul>
						<ul class="social-footer3">
							<li class=""><a title="Apple Store" target="_blank"
								href="#."><img alt="appstore"
									width="100" height="35"
									src="images/appstore.png"></a></li>
							<li class=""><a href="#."
								target="_blank" title="Google Store"><img alt="googlestore"
									width="100" height="35"
									src="images/google.png"></a></li>
							</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>Copyright Company Name © 2020. All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>