<!--Main Navigation-->
<header class="fixed-top">
  <div class="upper-header">
    <nav class="container navbar navbar-expand-lg navbar-light indigo locator-bar">
      <div class="navbar-nav row locator-bar-inner">
        <div class="col-2 text-center">
          <a class="nav-link" href="#"><i class="fa fa-location"></i> Marathali</a>
        </div>
        <div class="col-6 text-left">
          <a class="nav-link" href="#"><i class="fa fa-telephone"></i>1800 251 251</a>
        </div>
        <div class="col-3 text-center">
          <form>
            <div class="row">
             <div class="col-sm-12 mar-top-5">
                <input type="search" class="form-control form-control-sm" id="resSearch" placeholder="Search for restaurants">
              </div>
            </div>
            </form>
        </div>
        <div class="col-1 text-right">
          <a class="nav-link" href="#">Offers</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="lower-header">
    <div class="fraglo-logo">
      <img class="img-fluid" src="https://d1icd6shlvmxi6.cloudfront.net/gsc/HMI6MG/9c/ad/cd/9cadcd36ddce4a98b1c9ab19d9b372be/images/page_1/u10.png?token=e23697c372949cd42fa983e8754c5ec408b0b3390f0d1b9c7597d98f34e78451" alt="logo" />
    </div>
    <nav class="container navbar navbar-expand-lg navbar-light indigo navbar-fraglo">
      <!--<a class="navbar-brand" href="#"><strong>Chakra</strong></a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Fraglo <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
        <button type="button" class="btn pull-right btn-transparent ">Login</button>
      </div>
    </nav>
  </div>
  </header>
  <!--Main Navigation-->
  