<!--Main Navigation-->
<header class="fixed-top">
  <div class="upper-header">
    <nav class="container navbar navbar-expand-lg navbar-light indigo locator-bar">
      <div class="navbar-nav row locator-bar-inner">
        <div class="col-2 text-center">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter"><img src="./images/location.svg" alt="location"> <span class="location">Marathali</span></a>
          <div class="vertical-line-header"></div>
        </div>
        <div class="col-6 text-left">
          <a class="nav-link" href="#"><i class="fa fa-phone-square" aria-hidden="true"></i><span class="tollfree"> 1800 251 251</span></a>
        </div>
        <div class="col-3 text-center">
          <form>
            <div class="row">
             <div class="col-12 mar-top-5">
                <input type="search" class="form-control form-control-sm" id="resSearch" placeholder="Search...">
                <i class="fa fa-search search-header"></i>
              </div>
            </div>
            </form>
        </div>
        <div class="col-1 offer-pad">
          <a class="nav-link" href="../../Fraglo-v1/Fraglo/offers.html">
            <span class="offer-image"></span>
            <span class="offer-percentage">%</span>
            <span class="offer-text">Offers</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div class="lower-header">
    <nav class="container navbar navbar-expand-lg navbar-light indigo navbar-fraglo">
      <div class="fraglo-logo">
        <img class="img-fluid" src="./images/fraglo-logo.png" alt="logo" />
      </div>
      <!--<a class="navbar-brand" href="#"><strong>Chakra</strong></a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li id="nav-fraglo" class="nav-item active">
            <a class="nav-link" href="../../Fraglo-v1/Fraglo/home.html">Fraglo <span class="sr-only">(current)</span></a>
          </li>
          <li id="nav-aboutus" class="nav-item">
            <a class="nav-link" href="../../Fraglo-v1/Fraglo/aboutus.html">About Us</a>
          </li>
          <li id="nav-contactus" class="nav-item">
            <a class="nav-link" href="../../Fraglo-v1/Fraglo/contactus.html">Contact Us</a>
          </li>
        </ul>
        <div class="dropdown login-dropdown">
          <button class="btn pull-right btn-transparent dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
            <form >
              <div class="card login-details">
                <h6 class="card-header">Login as a</h6>
                <div class="card-body">
                  <div class="text-center">
                    <a type="button" class="btn btn-fraglo btn-fixed" type="button" href="#">USER</a>
                    <a type="button" class="btn btn-fraglo btn-fixed" type="button" href="../../Fraglo-v1/Fraglo/merchant-home.html">MERCHANT</a> <br/><br/>
                    <div class="phone-main">
                      <input type="number" class="form-control" placeholder="phone number"/> <br/>
                      <button id="loginButton" class="btn btn-fraglo btn-fixed btn-radial" type="button" onclick="showOtp(event)">Login</button>  <br/>
                    </div>
                    <div class="otp-main" style="display: none;">
                      <div class="form-container text-center mar-top-20">
                            <label class="site-header">Enter OTP</label>
                            <form novalidate>
                                <div class="otp-container">
                                    <input type="number" id="codeBox1"  class="form-control otp-inp" placeholder="0"/>
                                    <input type="number" id="codeBox2" class="form-control otp-inp" placeholder="0"/>
                                    <input type="number" id="codeBox3" class="form-control otp-inp" placeholder="0"/>
                                    <input type="number" id="codeBox4"  class="form-control otp-inp" placeholder="0"          />
                                </div>
                                <a type="button" id="submitButton"  class="btn btn-fraglo btn-fixed btn-radial mar-top-20" href="../../Fraglo-v1/Fraglo/user-home.html"> Submit </a><br/><br/>
                            </form>
                            <div class="text-center">
                                <a class="resend-otp-link" href="javascript:void(0)"> Resend OTP</a>
                            </div>
                            <div class="text-center mar-top-20">
                               <label class="login-label">Enter 4 digit OTP that was sent to 9123456780</label>
                            </div>
                        </div>
                    </div>
                    
                  </div>
                  <div class="text-center">
                    <button class="btn btn-link login-text">Guest User?</button>
                    <div class="share-btns">
                        <button  class="btn login-medium login-facebook mar-top-20"><i class="fa fa-facebook-f"></i></button>
                        <button  class="btn login-medium login-google mar-top-20"><i class="fa fa-google"></i></button>
                    </div>
                  </div>
                </div>
              </div>  
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>
  </header>
  <!--Main Navigation-->
  