<!--Main Navigation-->
<header class="fixed-top">
  <div class="upper-header">
    <nav class="container navbar navbar-expand-lg navbar-light indigo locator-bar">
      <div class="navbar-nav row locator-bar-inner">
        <div class="col-2 text-center">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter"><img src="./images/location.svg" alt="location"> Marathali</a>
          <div class="vertical-line-header"></div>
        </div>
        <div class="col-6 text-left">
          <a class="nav-link" href="#"><i class="fa fa-phone-square" aria-hidden="true"></i> 1800 251 251</a>
        </div>
        <div class="col-3 text-center">
          <form>
            <div class="row">
             <div class="col-sm-12 mar-top-5">
                <input type="search" class="form-control form-control-sm" id="resSearch" placeholder="Search for restaurants">
                <i class="fa fa-search search-header"></i>
              </div>
            </div>
            </form>
        </div>
        <div class="col-1 offer-pad">
          <a class="nav-link" href="#">
            <span class="offer-image"></span>
            <span class="offer-percentage">%</span>
            <span class="offer-text">Offers</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div class="lower-header">
    <div class="fraglo-logo">
      <img class="img-fluid" src="./images/fraglo-logo.png" alt="logo" />
    </div>
    <nav class="container navbar navbar-expand-lg navbar-light indigo navbar-fraglo">
      <!--<a class="navbar-brand" href="#"><strong>Chakra</strong></a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Fraglo <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
        <button type="button" class="btn pull-right btn-transparent ">Login</button>
      </div>
    </nav>
  </div>
  </header>
  <!--Main Navigation-->
  